body::-webkit-scrollbar-thumb {
		  background-color: #262a30;
	}

#map {
  height: 800px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: auto;
}

.container-fluid, .col-md-3, .col-md-9{
  padding: 0;
}



.side-bar{
  height: 800px;
  background-color: #262a30;
}

h4{
  padding-top: 50px;
  text-align:center;
  color:#9ca8bb;
}

.my-btn-group{
  margin-top: 10px;
  margin-left: 40px;
}

.city-list{
  padding-top: 10px;
  height:300px;
  overflow-y: scroll;
}
